/* -- Start Testimonials -- */
.testimonials {
  padding-top: $space-section;
  padding-bottom: $space-section;
  position: relative;
  background-color: $bg-section;
  & .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
  }
  & .box {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0, 0, 0 / 7%);
    border-radius: 6px;
    position: relative;
    & img {
      max-width: 100%;
      position: absolute;
      right: -10px;
      top: -20px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 10px solid $bg-section;
    }
    & h3 {
      margin: 0 0 5px;
      color: $main-color;
    }
    & span {
      color: #777;
      margin-bottom: 10px;
      display: block;
    }
    & .rate {
      & .filled {
        color: rgb(219, 189, 17);
      }
    }
    & p {
        line-height: 1.5;
        color: #777;
        margin-bottom: 0;
        margin-top: 10px;
    }
  }
}
/* -- End Testimonials -- */
